<div class="d-flex align-items-start ">
  <!-- Sidebar Navigation -->
  <div class="nav flex-column nav-pills me-3 p-3 bg-light shadow-sm rounded-start " id="v-pills-tab" role="tablist" aria-orientation="vertical" style="min-width: 220px; height: 100vh;">
    <button class="nav-link text-success border-success text-start mb-2 active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
      Mon profil
    </button>
    <button (click)="loadTrips()" class="nav-link text-success border-success text-start mb-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
      Mes trajets
    </button>
  </div>

  <!-- Content panes -->
  <div class="tab-content w-100 p-4 " id="v-pills-tabContent">
    <!-- Onglet profil -->
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
      <div class="card shadow rounded">
        <div class="card-body">
          <div class="container mb-4">
            <h3 class="fw-bold">Mon espace utilisateur</h3>
            <p class="text-muted">Ravi de vous revoir <strong>{{ userConnected.firstName }}</strong> !</p>
          </div>

          <!--ROLE-->
          <div class="container mt-5">
    <div class="card">
        <div class="card-body">
                <div class="row g-3">
                    <div class="col-md-6">
                        <h4>Type de profil</h4>
                        <button (click)="passager()" type="button" class="btn btn-success m-1">Passager</button><button (click)="chauffeur()"  type="button" class="btn btn-success m-1">Chauffeur</button><button (click)="both()"  type="button" class="btn btn-success m-1">Les deux</button>
                    </div>
                </div>
        </div>
    </div>
</div>

<div *ngIf="role === 'chauffeur' || role === 'both'">
  <app-add-new-car></app-add-new-car>
  <app-preferences></app-preferences>
</div>
          <div class="container mt-4">
            <button type="submit" class="btn btn-success w-100">Enregistrer les modifications</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Onglet trajets -->
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
      <div class="container">
        <h4 class="fw-bold mb-4">Mes trajets</h4>
        <div class="table-responsive">
          <table class="table table-hover table-bordered align-middle">
            <thead class="table-success">
              <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Départ</th>
                <th scope="col">Destination</th>
                <th scope="col">Statut</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trip of trips | filterTripHistoric:'myTrips':userConnected.id">
                <td>{{trip.id}}</td>
                <td>{{ trip.departDate | date:'dd/MM/yyyy'  }}</td>
                <td>{{ trip.departDate | date:'HH:mm' }}</td>
                <td>{{ trip.departLocation }}</td>
                <td>{{ trip.arrivalLocation }}</td>
                <td>{{ trip.status | statusTrip }} </td>
                <td>
                  <button (click)="setSelectedTrip(trip)" *ngIf="isDriver(trip) && trip.status === 'inProgress'" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#terminate">
                    Terminer le voyage
                  </button>
                  <button (click)="setSelectedTrip(trip)" *ngIf="isDriver(trip) && trip.status=== 'coming'" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#start">
                    Commencer le voyage
                  </button>
                  <button (click)="setSelectedTrip(trip)" *ngIf="trip.status == 'coming'" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#annuler">
                    Annuler le voyage
                  </button>               
                </td>
              </tr>
            </tbody>
          </table>

          <h4 class="fw-bold mb-4">Historique de mes trajets</h4>

          <table class="table table-hover table-bordered align-middle">
            <thead class="table-success">
              <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col">Départ</th>
                <th scope="col">Destination</th>
                <th scope="col">Statut</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let trip of trips | filterTripHistoric:'historic':userConnected.id">
                <td>{{trip.id}}</td>
                <td>{{ trip.departDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ trip.departDate | date:'HH:mm' }}</td>
                <td>{{ trip.departLocation }}</td>
                <td>{{ trip.arrivalLocation }}</td>
                <td>{{ trip.status | statusTrip }} </td>
                <td>
                  <button (click)="setSelectedTrip(trip)" *ngIf="isDriver(trip)===false" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#review">
                    Mettre un avis
                  </button>
                  <button (click)="setSelectedTrip(trip)" *ngIf="isDriver(trip)===false" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#signaler">
                    Signaler un incident
                  </button>                
                </td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Review -->
<div class="modal fade" id="review" tabindex="-1" aria-labelledby="reviewLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body text-center">
        <div class="mb-3">
          <div class="rating-emoji fs-1 mb-2">😊</div>
          <form >
          <div class="star-rating mb-3">
           
            <input  [(ngModel)]="review.notation" type="radio" id="star5" name="rating" value="5"><label for="star5" class="fas fa-star"></label>
            <input  [(ngModel)]="review.notation" type="radio" id="star4" name="rating" value="4"><label for="star4" class="fas fa-star"></label>
            <input  [(ngModel)]="review.notation" type="radio" id="star3" name="rating" value="3"><label for="star3" class="fas fa-star"></label>
            <input  [(ngModel)]="review.notation" type="radio" id="star2" name="rating" value="2"><label for="star2" class="fas fa-star"></label>
            <input  [(ngModel)]="review.notation" type="radio" id="star1" name="rating" value="1"><label for="star1" class="fas fa-star"></label>
          </div>
          <textarea [(ngModel)]="review.comment" name="comment" class="form-control mb-3" rows="3" placeholder="Laissez votre avis sur le voyage"></textarea>
          
          <br>
          <button type="button" (click)="validateReview()" class="btn btn-success w-20" data-bs-dismiss="modal">Valider mon avis</button>
          <button type="button" class="btn btn-danger w-20" [routerLink]="['/ReportTrip',selectedTrip]" data-bs-dismiss="modal">Signaler le trajet</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Annuler -->
<div class="modal fade" id="annuler" tabindex="-1" aria-labelledby="annulerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annulerLabel">Annuler le voyage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir annuler ce voyage ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" (click)="cancelTrip()" class="btn btn-success" data-bs-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal signalement -->
<div class="modal fade" id="signaler" tabindex="-1" aria-labelledby="signalerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <div class="card mx-auto" style="width: 100%;">
          <div class="card-header bg-danger text-white text-center">
            <h4 class="mb-0">Signaler un covoiturage</h4>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <p>Nom du conducteur concerné : {{selectedTrip.driver.lastName}}</p>
              <p>Numéro du trajet concerné : {{selectedTrip.id}}</p>
            </div>
            <form>
              <div class="mb-3">
                <label for="details" class="form-label">Détails du problème</label>
                <textarea class="form-control" [(ngModel)]="report.detail" name="details" id="details" rows="5" placeholder="Décrivez ce qui s'est passé..."></textarea>
              </div>
              <div class="text-center">
                <button (click)="reportTrip()" type="submit" class="btn btn-danger" data-bs-dismiss="modal">Envoyer le signalement</button>
              </div>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            Merci de nous aider à améliorer la sécurité de notre plateforme.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Terminate Trip -->
<div class="modal fade" id="terminate" tabindex="-1" aria-labelledby="terminateLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annulerLabel">Terminer le voyage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir terminer ce voyage ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button (click)="terminateTrip()" type="button" class="btn btn-success" data-bs-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Start Trip-->
<div class="modal fade" id="start" tabindex="-1" aria-labelledby="startLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="startLabel">Commencer le voyage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir commencer ce voyage ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" (click)="startTrip()" class="btn btn-success" data-bs-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>



