<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="row g-3 flex-column">
                    <!-- Pseudo-->
                    <div class="col-md-12">
                        <label for="pseudo" class="form-label">Pseudo</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                            <input type="text" [(ngModel)]="user.pseudo" name="pseudo" class="form-control" id="pseudo" placeholder="Choisissez un pseudo">
                        </div>
                    </div>
                    <!-- Mail address -->
                    <div class="col-md-12">
                        <label for="mail" class="form-label">Adresse email</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
                            <input type="email" [(ngModel)]="user.mail" name="mail" class="form-control" id="mail" placeholder="Saisissez votre mail">
                        </div>
                    </div>
                    <!-- Password-->
                    <div class="col-md-12">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-file-lock"></i></span>
                            <input type="password" [(ngModel)]="user.password" name="password" class="form-control" id="password" placeholder="Saisissez votre mot de passe">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p>Le mot de passe doit contenir :</p>
                        <ul>
                            <li>Au moins 8 caractères</li>
                            <li>Une majuscule et une minuscule</li>
                            <li>Un chiffre et un caractère spécial</li>
                        </ul>
                    </div>
                     <!-- Button -->
                    <div class="col-md-12">
                        <button (click)="signIn()" type="submit" class="btn btn-success w-100">Suivant</button>
                    </div>
                    <div class="col-md-12">
                        <p><b>Déjà inscrit ? </b> <button class="btn btn-success btn-sm"  routerLink="/Login">Connexion</button></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
