<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="row g-3">
                    <!-- Pseudo-->
                    <div class="col-md-6">
                        <label for="pseudo" class="form-label">Pseudo</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                        <input type="text" [(ngModel)]="user.pseudo" name="pseudo" class="form-control" id="pseudo" placeholder="Ex : AA-123-BB">
                    </div>
                    </div>
                    <!-- Mail address -->
                    <div class="col-md-6">
                        <label for="mail" class="form-label">Addresse email</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
                        <input type="mail" [(ngModel)]="user.mail" name="mail" class="form-control" id="mail">
                    </div>
                </div>
                    <!-- Password-->
                    <div class="col-md-6">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-file-lock"></i></span>
                            <input type="text" [(ngModel)]="user.password" name="password" class="form-control" id="password" placeholder="Saississez votre mot de passe">
                        </div>
                    </div>                    
                    <div class="col-md-6">
                        <p>Le mot de passe doit contenir :</p>
                        <ul>
                            <li>Au moins 8 caractères</li>
                            <li>Une majuscule et une minuscule</li>
                            <li>Un chiffre et un caractère spécial</li>
                        </ul>
                    </div>
                     <!-- Button -->
                <button (click)="signIn()" type="submit" class="btn btn-success w-100">Suivant</button>
                <p><b>Déjà inscrit ?</b>Connectez-vous</p>
                </div>
            </form>
        </div>
    </div>
</div>

