<div class="container">
<h3>Mentions Légales</h3>
<br>
<h5>1. Informations Générales</h5>
    Le site internet EcoRide est édité par :
    <br><br>

    <ul>
        <li><b>Raison sociale:</b> EcoRide SAS</li>
        <li><b>Siège social:</b> 370 rue voltaire 75011 Paris</li>
        <li><b>Capital social:</b> 100 000 EUR</li>
        <li><b>Numéro d'immatriculation:</b> 123456789</li>
        <li><b>TVA intracommunautaire:</b> 987654321</li>
        <li><b>Adresse e-mail:</b> contact&#64;ecoride.com</li>
        <li><b>Directeur de la publication:</b> Jean Dupond</li>
    </ul>
<h5>2. Hébergement</h5>
    Le Site est hébergé par :
    <br><br>
    <ul>
        <li><b>Hébergeur:</b> Hostinger</li>
        <li><b>Adresse:</b> 61 Lordou Vironos Street, 6023 Larnaca, Chypre</li>
        <li><b>Contact:</b> hostinger&#64;hostinger.com</li>
    </ul>
    <br> 
<h5>3. Propriété Intellectuelle</h5>
    Tous les contenus présents sur le Site (textes, images, logos, icônes, etc.) sont la propriété exclusive EcoRide ou de ses partenaires et sont protégés par le droit de la propriété intellectuelle. Toute reproduction, représentation ou diffusion sans autorisation est interdite.
    <br><br>
<h5>4. Données Personnelles et Cookies</h5>
    EcoRide collecte et traite certaines données personnelles dans le respect des réglementations en vigueur (RGPD et Loi Informatique et Libertés).
    <br><br>
    <ul>
        <li><b>Données collectées:</b> Nom, prénom, adresse e-mail, numéro de téléphone, etc.</li>
        <li><b>Finalités:</b> Gestion des comptes utilisateurs, organisation des trajets, communication avec les membres.</li>
        <li><b>Droit d'accès et de rectification:</b> Vous pouvez exercer vos droits en nous contactant à contact&#64;ecoride.com.</li>
    </ul>
    
    Le Site utilise des cookies à des fins de fonctionnalité et d'analyse. Vous pouvez les paramétrer via votre navigateur.
    <br><br>
<h5>5. Responsabilités</h5>
    EcoRide ne saurait être tenu responsable en cas de mauvaise utilisation du Site ou incidents survenus lors des trajets entre particuliers. Chaque utilisateur est responsable de son comportement et de ses engagements.
    <br><br>
<h5>6. Droit Applicable</h5>
    Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du ressort du siège social EcoRide.
    <br><br>
<h5>7. Contact</h5>
    Pour toute question, vous pouvez nous contacter à l adresse suivante : contact&#64;ecoride.com.
</div>

