.navbar-brand {
    color:white;
    font-size: 300%;
   
}

.navbar {
    background-color: #71997D !important;
}

.nav-link {
color:white !important;
}

.EcoRide{
    color:white;
    padding-right: 30px;
}

