<div class="d-flex align-items-start">
  <!-- Sidebar Navigation -->
  <div class="nav flex-column nav-pills me-3 p-3 bg-light" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="min-width: 220px; height: 100vh;">

    <button class="nav-link text-success border-success text-start mb-2" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
      Tableau de bord
    </button>
    <button class="nav-link text-success border-success text-start mb-2" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
      Gestion des employés
    </button>
    <button (click)="loadUsers()"class="nav-link text-success border-success text-start" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
      Gestion utilisateurs
    </button>

  </div>


  <!-- Content Area -->
  <div class="tab-content container py-4" id="v-pills-tabContent">

    <!-- Tableau de bord -->
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3 mb-0">Tableau de bord</h1>
      </div>
      <div class="row g-3 mb-4">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card border-0 shadow-sm bg-light">
            <div class="card-body">
              <h6 class="text-muted mb-2">Nombre total d'utilisateurs</h6>
              <h3 class="mb-0">8,549</h3>
            </div>
            
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card border-0 shadow-sm bg-light">
            <div class="card-body">
              <h6 class="text-muted mb-2">Nombre total de crédits gagnés</h6>
              <h3 class="mb-0">$24,890</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row g-3 mb-4">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card border-0 shadow-sm bg-light">
            <div class="card-header bg-light border-0">
              <h6 class="text-muted mb-2">Nombre de covoiturages par jour</h6>
            </div>
            <div class="card-body">
              <app-admim-trip-chart></app-admim-trip-chart>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="card border-0 shadow-sm bg-light">
            <div class="card-header bg-light border-0">
              <h6 class="text-muted mb-2">Crédits gagnés par jour</h6>
            </div>
            <div class="card-body">
              <app-admim-trip-chart></app-admim-trip-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Gestion des employés -->
    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
      <h3>Gestion des employés</h3>
      <button type="button" class="btn btn-success m-1" routerLink="/createEmployee">+ Nouvel employé</button>
      <br /><br />
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#12345</td>
            <td>Jean Dupont</td>
            <td>jean.ecoride.com</td>
            <td><button type="button" class="btn btn-success m-1">Actif</button></td>
            <td><button type="button" class="btn btn-danger m-1">Suspendre</button><span><button type="button" class="btn btn-success m-1">Réactiver le compte</button></span></td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Gestion utilisateurs -->
    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
      <h3>Gestion des utilisateurs</h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td><button type="button" class="btn btn-success m-1">{{ user.isActive ? 'Actif' : 'Non actif' }}</button></td>
            <td><button (click)="suspendingMember(user.id)" type="button" class="btn btn-danger m-1">Suspendre</button><span><button (click)="reactivateMember(user.id)" type="button" class="btn btn-success m-1">Réactiver le compte</button></span></td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>

  </div>
