<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="addNewCar()">
                <div class="row g-3">
                    <h4>Informations du véhicule</h4>
                    <!-- Registration -->
                    <div class="col-md-6">
                        <label for="registration" class="form-label">Plaque d'immatriculation</label>
                        <input type="text" [(ngModel)]="car.registration" name="registration" class="form-control" id="registration" placeholder="Ex : AA-123-BB">
                    </div>
                    <!-- First registration date -->
                    <div class="col-md-6">
                        <label for="firstRegistrationDate" class="form-label">Date 1ère immatriculation</label>
                        <input type="date" [(ngModel)]="car.first_registration_date" name="first_registration_date" class="form-control" id="firstRegistrationDate">
                    </div>
                    <!-- Brand -->
                    <div class="col-md-6">
                        <label for="brand" class="form-label">Marque</label>
                        <input type="text" [(ngModel)]="car.brand" name="brand" class="form-control" id="brand" placeholder="Ex : Toyota">
                    </div>
                    <!-- Model -->
                    <div class="col-md-6">
                        <label for="model" class="form-label">Modèle</label>
                        <input type="text" [(ngModel)]="car.model" name="model" class="form-control" id="model" placeholder="Ex : RAV4">
                    </div>
                    <!-- Color -->
                    <div class="col-md-6">
                        <label for="color" class="form-label">Couleur</label>
                        <input type="text" [(ngModel)]="car.color" name="color" class="form-control" id="color" placeholder="Ex : Bleu">
                    </div>
                     <!-- Energy -->
                     <div class="col-md-6">
                        <label for="color" class="form-label">Energie</label>
                        <select class="form-control" [(ngModel)]="car.energy" name="energy" id="energy" placeholder="Sélectionner l'energie">
                            <option value="" disabled selected>Sélectionner l'énergie</option>
                            <option value="diesel">Diesel</option>
                            <option value="electric">Electrique</option>
                             <option value="essence">Essence</option>
                             <option value="hybrid">Hybride</option>
                        </select>

                    </div>
                     <!-- Button -->
                      <button type="submit" class="btn btn-success w-100">Ajouter le véhicule</button>
                </div>
            </form>
        </div>
    </div>
</div>
