<div *ngIf="trip" class="card shadow-lg mx-auto mt-4 mb-5 custom-green" 
     style="max-width: 500px;">
  <div class="card-header text-center custom-green-header">
    <h2 class="mb-0">Détails du Trajet</h2>
  </div>
  <div class="card-body">
    <p><i class="bi bi-geo-alt-fill"></i><strong> Départ :</strong> {{ trip.departLocation }} à {{ trip.departHour | date:'HH:mm' }}</p>
    <p><i class="bi bi-geo-alt-fill"></i><strong> Arrivée :</strong> {{ trip.arrivalLocation }} à {{ trip.arrivalHour | date:'HH:mm' }}</p>
    <p><i class="bi bi-person-fill"></i><strong> Places disponibles :</strong> {{ trip.placeNumber }}</p>
    <p><i class="bi bi-cash"></i><strong> Prix :</strong> {{ trip.creditPrice }}€</p>
  </div>
  <button type="submit" class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#confirmer">Participer</button>
</div>

<!-- Double confirmation -->
<div class="modal fade" id="confirmer" tabindex="-1" aria-labelledby="confirmerLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmerLabel">Confirmer votre participation au voyage</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir participer à ce voyage ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fermer</button>
        <button type="button" (click)="onSubmit()" class="btn btn-success" data-bs-dismiss="modal">Confirmer</button>
      </div>
    </div>
  </div>
</div>