<form class="barreRecherche">
    <div class="row">
      <div class="col-md-3 mb-3">
        <span><i class="bi bi-circle"></i> &nbsp;</span><label for="departure" class="form-label">Départ</label>
        <input type="text" class="form-control" id="departure">
      </div>
      <div class="col-md-3 mb-3">
        <span><i class="bi bi-circle"></i> &nbsp;</span><label for="destination" class="form-label">Destination</label>
        <input type="text" class="form-control" id="destination">
      </div>
      <div class="col-md-2 mb-3">
        <span><i class="bi bi-calendar-week"></i> &nbsp;</span><label for="date" class="form-label">Date</label>
        <input type="text" class="form-control" id="date">
      </div>
      <div class="col-md-2 mb-3">
        <span><i class="bi bi-person"></i> &nbsp;</span><label for="passengers" class="form-label">Passager</label>
        <input type="number" class="form-control" id="passengers">
      </div>
    </div>
    <button type="submit" class="btn">Rechercher</button>
  </form>
  <br>

  <div class="container">
    <div class="row">
      <!-- Image de gauche -->
      <div class="col-lg-4">
        <img src="assets/images/img1.jpg" class="img-fluid" style="width: 400px;" alt="image1">
      </div>
      
  
      <!-- Texte au centre -->
      <div class="col-lg-4">
        <h4>Voyagez malin, voyagez responsable avec EcoRide !</h4>
        <p class="mt-4">
            Notre plateforme de covoiturage connecte les voyageurs partageant les mêmes trajets pour des déplacements plus économiques et écologiques. Réduisez votre empreinte carbone tout en partageant les frais de route avec une communauté engagée</p>
        </div>

        <div class="col-lg-4">
          <img src="assets/images/img2.jpg" class="img-fluid" style="width: 400px;" alt="image1">
        </div>
       
    </div>
  </div>
