
<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-left p-2 contact">Contacts
        <p><i class="bi bi-envelope-at"></i>&nbsp; ecoride&#64;ecoride.com
        <br><i class="bi bi-telephone-x"></i>&nbsp; +33 05 55 55 55 77
        <br><i class="bi bi-geo-alt"></i>&nbsp; 370 rue voltaire 75011 Paris</p>
</div>
</footer>

<footer class="bg-body-tertiary text-center text-lg-start">
    <div class="text-left p-1 copyright">© EcoRide 2024 <span class="mentions"><a routerLink="/MentionsLegales">Mentions légales</a></span></div>
</footer>