<!-- Trips list -->

  <div class="card text-start" *ngFor="let trip of trips; let i=index">
    <div class="card-header">{{trip.departDate|date:'fullDate'}}</div>
  
    <div class="card-body">
         
      <div class="d-flex justify-content-between align-items-center mb-2">
         
          <div class="d-flex align-items-center gap-2">
            <span>{{trip.departHour|date : "hh:mm"}}</span>
            <div class="bg-white opacity-45" style="height: 2px; width: 60px;"></div>
            <span>durée trajet to do</span>
            <div class="bg-white opacity-45" style="height: 2px; width: 60px;"></div>
            <span>{{trip.arrivalHour}}</span>
         
        </div>
        <div class="d-flex align-items-center gap-2">
          <small>1 places restantes to do </small>
          <span class="fw-bold fs-4">{{trip.price}} EUR</span>
        </div>
      </div>
  
    <div class="card-footer text-body-secondary">
      <div class="float-start">
        <i class="bi bi-ev-front-fill p-2 text-white"></i>
        <img
          src="assets/images/avatar.jpg"
          class="rounded-circle"
          alt="Profile"
          style="width: 32px; height: 32px"
        />
        <span *ngFor="let user of trip.passengers; let i=index" class="p-2 text-white">{{user.firstName}}
          <span *ngFor="let review of user.review; let i=index" class="text-white">{{review.notation}}</span>
        </span>
        <i class="bi bi-star-fill p-2 text-white"></i>
  
      </div>
  
      <div class="float-end">
        <span><button type="button" routerLink="/TripDetails" class="btn detail">Détails</button></span>
      </div>
    </div>
  </div>
  
